.class {
  &__header {
    margin-bottom: 1rem;

    span {
      font-size: 3rem;
    }
  }

  &__general {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  &__block {
    display: flex;
    justify-content: space-between;
    // gap: 1rem;
    border-radius: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow: hidden;

    input {
      padding: 1rem;
      width: 100%;

      &:hover,
      &:focus-within {
        color: #fff;
        background-color: #3b3b3b;
        outline: none;
      }
    }

    button {
      padding: 1rem;

      &:hover,
      &:focus {
        color: #dc143c;
        background-color: #3b3b3b;
        outline: none;
      }
    }
  }
}
