.container {
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: var(--container-width);
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 0.5rem;
}

.list {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  &__block {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 800px;
    height: 100%;
    min-height: 500px;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
  }

  &__learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    span {
      font-size: clamp(1rem, 5vw, 5rem);
      word-break: break-word;
    }

    span:nth-child(2) {
      font-size: 1rem;
      margin-top: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #616161;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;

    input {
      width: 100%;
      border-bottom: 2px solid var(--color-on-surface);
      font-size: clamp(1rem, 5vw, 5rem);
      outline: none;
    }
  }
}

.results {
  flex-basis: 100%;

  position: sticky;
  top: calc(50px + 0.5rem);

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1rem;
  height: calc(100vh - 50px);
  padding: 1rem 2rem;

  background-color: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;

  &__header {
    text-align: center;

    span {
      display: block;
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;

    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .list {
    &__form {
      height: auto;
      flex-direction: column;
      padding-bottom: 1.5rem;
      margin-top: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .list {
    &__block {
      gap: 6rem;
      min-height: auto;
    }
  }

  .results {
    position: static;
  }
}
