.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 5rem;

  display: flex;
  flex-direction: column;
  gap: 6rem;

  section {
    > h2 {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
  }
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.banner {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 5rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    box-shadow: var(--box-shadow);

    h2 {
      font-size: 3rem;
      color: var(--color-on-surface);
    }

    > div {
      display: flex;
      gap: 0.5rem;
    }
  }
}
