// @todo - to refactor header component (used same in flashcards)
.header {
  position: relative;
  width: 100%;
  height: 50px;

  color: var(--color-on-surface);
  background-color: var(--color-surface);
  box-shadow: var(--box-shadow);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-width);
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700;
  }
}

.learn {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
  overflow: hidden;

  &__card {
    height: 50%;
    width: 100%;
    border-radius: 10px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 1rem;

      text-align: center;
      border-radius: 10px;
      background-color: var(--color-surface);
      color: var(--color-on-surface);
      box-shadow: var(--box-shadow);
    }

    span {
      display: block;
      max-width: 80%;
      margin: 0 auto;
      font-size: clamp(1rem, 5vw, 5rem);
      word-break: break-word;
      transition: all 0.1s ease-in-out;

      p:not(:first-child) {
        font-size: 1.5rem;
      }
    }
  }

  &__moves {
    height: calc(50% - 20px - 1rem);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  &__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    color: var(--color-on-surface);
    background-color: var(--color-surface);
    border-radius: 20px;
    box-shadow: var(--box-shadow);

    &:hover {
      background-color: var(--color-background);
    }
  }

  input:focus-within {
    background-color: var(--color-background);
  }
}

.progressbar {
  position: relative;
  display: flex;
  min-height: 20px;
  margin: 1rem 0;
  border-radius: 5px;
  overflow: hidden;
  color: var(--color-on-background);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow);

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div {
    transition: all 0.3s ease 0s;
    background-color: var(--color-surface);
  }
}
