.class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  &__block {
    display: flex;
    flex-direction: column;
    //   justify-content: center;
    width: 800px;
    height: 500px;
    //   min-height: 600px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px #00000094;
    transition: all 0.3s ease;
  }

  &__progressbar {
    display: flex;
    height: 5px;

    div {
      transition: all 0.3s ease 0s;
      background-color: var(--color-white);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: 100%;
  }

  &__learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    span {
      font-size: 3rem;
    }

    span:nth-child(2) {
      font-size: 1rem;
      margin-top: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #616161;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;

    input {
      width: 100%;
      border-bottom: 2px solid var(--color-white);
      font-size: 2rem;
      outline: none;
    }

    div {
      display: flex;
      gap: 0.5rem;

      button {
        padding: 0.5rem 1rem;
        border-radius: 25px;
        background-color: var(--color-white);
        color: var(--color-black);
        font-size: 1.5rem;
        border: 2px solid var(--color-white);

        &:hover,
        &:focus {
          background-color: #000;
          color: var(--color-white);
          outline: 0;
        }
      }
    }
  }
}

.results {
  &__header {
    text-align: center;

    span {
      display: block;
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      font-size: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    margin-top: auto;

    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: auto;
  }
}

@media (max-width: 1000px) {
  .class {
    &__block {
      width: 95%;
    }
    &__form {
      flex-direction: column;
    }
    &__learn {
      span {
        font-size: 2rem;
      }
    }
  }
}
