@use 'styles/globals/utils.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  min-height: 100%;
  height: 100%;
  padding: 0 1rem;
  background-image: linear-gradient(var(--color-background), #dcbeff, var(--color-background));

  section:first-child {
    margin-top: 5rem;
  }

  section:last-child {
    margin-bottom: 5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: var(--container-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    h1 {
      text-align: center;
      font-size: 4rem;

      @include breakpoint-max(lg) {
        font-size: 3rem;
      }
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      max-width: rem(600);
      width: 100%;
      text-align: center;
      margin-top: 0.5rem;
      font-size: 1.25rem;
      color: #505050;

      @include dark-scheme {
        color: #d3d3d3;
      }
    }

    button,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
    }
  }
}

.subject {
  button,
  a {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

.cards {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    @include breakpoint-max(lg) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

    li {
      padding: 1rem;
      background-color: var(--color-surface);
      border-radius: 10px;
      box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%), 0 12px 24px rgb(0 0 0 / 5%);

      p {
        color: var(--color-on-surface);
      }

      p:first-child {
        font-weight: 700;
        font-size: 3.5rem;

        @include breakpoint-max(lg) {
          font-size: 2rem;
        }
      }

      p:last-child {
        color: #505050;

        @include dark-scheme {
          color: #d3d3d3;
        }
      }
    }
  }
}

.opensource {
  a {
    color: var(--color-surface);
    background-color: var(--color-on-surface);
  }
}
