.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--white);
  background-image: linear-gradient(to top, var(--black) 65%, #333 50%);
  border-radius: 10px;
  overflow: hidden;

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid var(--yellow);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  &__title {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__bio {
    display: block;
    margin-top: 0.5rem;
  }

  &__tabs {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    li {
      padding: 0.25rem 0.5rem;
    }
  }

  &__tabsActive {
    color: var(--black);
    background-color: var(--yellow);
    border-radius: 10px;
    border: 1px solid var(--black);
  }
}
