@use 'styles/globals/utils.scss' as *;

.cardbox {
  width: 100%;
  padding: 1rem;
  border-radius: rem(20);
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  box-shadow: var(--box-shadow);

  &__icon {
    border-radius: rem(50);
  }

  &__content {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
