.header {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  border-bottom: 1px solid;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);

  > a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }
}

.plus {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin: 0 -2.5px;
    }
  }

  &__menu {
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 100;
    width: 160px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    border: 1px solid #666;
    border-radius: 10px;
    color: var(--color-text-primary);
    background-color: #ffffffb0;
    backdrop-filter: blur(10px);

    li {
      display: block;
      margin: 0.25rem 0.5rem;

      button,
      a {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid transparent;
        text-align: left;

        &:hover {
          background-color: var(--color-bg-secondary);
          border: 1px solid #666;
        }
      }
    }
  }
}

.avatarbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-text-primary);
  color: var(--color-bg-primary);
  border-radius: 10px;

  &:hover {
    font-style: italic;
  }
}

.avatarpic {
  max-height: 40px;
  max-width: 40px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}
