.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--color-white);
  background-color: var(--color-black);

  > a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
  }
}

.plus {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin: 0 -2.5px;
    }
  }

  &__menu {
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 100;
    width: 160px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    border: 1px solid #666;
    border-radius: 10px;
    color: var(--color-black);
    background-color: #ccccccb0;
    backdrop-filter: blur(10px);

    // &::before,
    // &::after {
    //   position: absolute;
    //   display: inline-block;
    //   content: '';
    // }

    // &::before {
    //   top: -16px;
    //   right: 19px;
    //   left: auto;
    //   border: 8px solid transparent;
    //   border-bottom-color: #666;
    // }

    // &::after {
    //   top: -14px;
    //   right: 19px;
    //   left: auto;
    //   border: 8px solid transparent;
    //   border-bottom-color: var(--color-white);
    // }

    li {
      display: block;
      margin: 0.25rem 0.5rem;

      button,
      a {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid transparent;
        text-align: left;

        &:hover {
          background-color: var(--color-yellow);
          border: 1px solid #666;
        }
      }
    }
  }
}

.avatarbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-yellow);
  color: var(--color-black);
  border-radius: 10px;

  &:hover {
    font-style: italic;
  }
}

.avatarpic {
  max-height: 40px;
  max-width: 40px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  background-color: var(--color-yellow);
}
