@use 'styles/globals/utils.scss' as *;

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  input {
    position: relative;
    -webkit-appearance: none;
    min-width: rem(50);
    width: rem(50);
    min-height: rem(30);
    height: rem(30);
    background-color: #fff;
    border: 1px solid var(--color-outline);
    border-radius: rem(50);
    box-shadow: inset rem(-20) 0 0 0 var(--color-outline);
    transition: all 0.3s;
  }

  input:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: rem(26);
    height: rem(26);
    border-radius: 50%;
  }

  input:checked {
    box-shadow: inset rem(20) 0 0 0 var(--color-primary);
    border-color: var(--color-primary);
  }

  input:checked:after {
    left: rem(20);
  }
}
