:root {
  --container-width: 1024px;
  --box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

  // theme
  --color-primary: #cba1ff;
  --color-on-primary: #1f1f1f;
  // --color-primary-container: #f0f15e;
  // --color-on-primary-container: #616200;

  // --color-secondary: #f0eddd;
  // --color-on-secondary: #1f1f1f;
  // --color-secondary-container: #d9e7ca;
  // --color-on-secondary-container: #141f0d;

  --color-background: #fffcf3;
  --color-on-background: #1a1c18;
  --color-surface: #f1f1eb;
  --color-on-surface: #1c1c16;
  --color-outline: #c4c9bc; // 0000001a

  // --color-error: #b3251e;
  // --color-on-error: #ffffff;
  // --color-error-container: #f9dedc;
  // --color-on-error-container: #400f0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

    // theme
    --color-primary: #cba1ff;
    --color-on-primary: #1f1f1f;
    --color-background: #302f2e;
    --color-on-background: #f6f8e2;
    --color-surface: #1d1d1b;
    --color-on-surface: #fafaf0;
    --color-outline: #c4c9bc;
  }
}

// html,
// body,
// #__next.light {
//   background-color: #000000;
// }

// html,
// body,
// #__next.dark {
//   background-color: #000000;
// }
