@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

:root {
  --container-width: 1440px;
  --box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

  // theme
  --color-primary: #cba1ff;
  --color-on-primary: #1f1f1f;
  // --color-primary-container: #f0f15e;
  // --color-on-primary-container: #616200;

  // --color-secondary: #f0eddd;
  // --color-on-secondary: #1f1f1f;
  // --color-secondary-container: #d9e7ca;
  // --color-on-secondary-container: #141f0d;

  --color-background: #fffcf3;
  --color-on-background: #1a1c18;
  --color-surface: #f1f1eb;
  --color-on-surface: #1c1c16;
  --color-outline: #c4c9bc; // 0000001a

  // --color-error: #b3251e;
  // --color-on-error: #ffffff;
  // --color-error-container: #f9dedc;
  // --color-on-error-container: #400f0c;
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Space Grotesk', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background);
  background-position: 400px 500px;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
  color: inherit;
  border: 0;

  &::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

textarea {
  resize: vertical;
  min-height: 50px;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0.85rem 0.5rem;
}

.Toastify__toast-container {
  padding: 1rem !important;
}

.Toastify__toast {
  margin-bottom: 0.5rem !important;
  border-radius: 4px !important;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-text-primary: #fdfdfd;
//     --color-text-secondary: #4d85ff;
//     --color-bg-primary: #1f1f1f;
//     --color-bg-secondary: #2c3f66;
//     --color-bg-tertiary: #373737;
//   }

//   html,
//   body,
//   #__next {
//     background-color: #000000;
//   }
// }
