@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-black: #181818;
  --color-yellow: #e5e747;
  --color-white: #cccccc;
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-yellow);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
  color: inherit;
  border: 0;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3.5rem;
  padding: 0 2rem;
  border-radius: 50px;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(1);
  }

  span {
    text-align: center;
  }
}

.button_dark {
  color: var(--color-white);
  background-color: var(--color-black);

  &:focus {
    outline: 0.5rem double var(--color-black);
  }
}

.button_light {
  color: var(--color-black);
  background-color: var(--color-white);

  &:focus {
    outline: 0.5rem double var(--color-white);
  }
}

@media screen and (min-width: 1920px) {
  html,
  body,
  #__next {
    font-size: clamp(1rem, 1.1vw, 3rem);
  }
}
