@use 'globals';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  @apply shadow-[0_0_0_2px] shadow-violet-400 outline-none;
}

::selection {
  @apply bg-violet-500 bg-opacity-30;
}
::-moz-selection {
  @apply bg-violet-500 bg-opacity-30;
}
